.readContent{
  height: 100%;
  display: flex;
}

.leftContent{
  width: 50%;
  height: 100%;
  border-right: 1px solid #7e7e7e3f;
  overflow: auto;
}
.rightContent{
  width: 50%;
  height: 100%;
  overflow: auto;
}

.parsed-name{
  line-height: 1.5;
}