.testOver{
  background-color: #f5f5f5;
  .headNav{
    background-color: #001529;
    .navImg{
      margin-left: 7vh;
    }
    .close{
      margin-left: auto;
      margin-top: 2vh;
      height: 36px;
      border-radius: 1.5vh;
      margin-right: 4vh;
    }
  }
}


.Scorecontent{
  width: 80%;
  margin: auto;
  height: 128vh;
  background-color: #f5f5f5;
}
