.anrt{
  width: 49%;
  height: 100%;
  margin-left: 1%;
  .anrtHead{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    button{
      width: 100px;
      margin-left: 1vh;
      background-color: var(--color-primary);
      border: 0px;
      cursor: pointer;
    }
    button:nth-child(1){
      margin-left: 0;
    }
    .act{
      background-color: #fff;
    }
  }
  .anrtContent{
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
  }
}