.headNav{
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  height: 68px;
}

.navImg{
  height: 200px;
  translate: -38px;
  margin-top: -70px;
}

.menuNav {
  font-size: 16px;
  margin-left: auto;
}

.avatar{
  background-color: white;
  margin-left: 10px;
  margin-right: -8px;
}